{% extends "website/index.html" %}
{% block title %} <title>About Us</title> {% endblock %}
{% block content %}
<div id="content">
    <!--==============================row5=================================-->
    <div class="row_5">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 reserve_table">
                    <h2>About Pixelicious Photography</h2>
                    <figure><img src="/static/img/page2_img1.jpg" alt=""></figure>
                    <h3>Our aim, objectives, peciality and services to you</h3>
                    <p class="m_bot2">In modeling industry, it is mandatory for every model to invest in a good fashion portfolios. "Portfolio" is one of the most pivotal marketing tool. Fashion models portfolios are more of a scrap book or photo album wherein has an assortment of photographs/pictures shot in various angles and poses. </p>
                    <table class="table"><thead></thead><tbody><tr><td>Models' Portfolio</td><td>Fashion Photography</td><td>Events Managements</td></tr><tr><td>Fashion Portfolio</td><td>Product Photography</td><td>Wedding Photography</td></tr>
                      <tr><td>Landscapes Photography</td> <td>Candid Photography</td><td>Nature Photography</td></tr>
                    </tbody></table>
                    <p>We at Pixelicious Photography understand its importance and believe that "A Picture is worth a thousand words". Thus we give our best to make good fashion and glamour model portfolio which showcase model's best of features.

We maintain a perfect balance of gestures and poses highlighted in photographs, to make it appealing and eye catching. We have best of photographers from the fashion industry, who understands the current trend, style and format as required by clients and shoots models accordingly to deliver best fashion models portfolios. Our pool of experienced and established photographers scrutinizes and evaluates to get a best look.</p>


                    <h2 class="pad_top1">Our Experience</h2>
                    <h3>Founded on 30 October 2013, Since then we are continuosly exploring each and every moment of life through our lenses</h3>

                </div>

                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-4 col-md-4 col-sm-4">
                    <h2>Contact us</h2>
                    <hr class="line2">
                    <p class="title5">Simply, fill the following form and tell us how you feel about us.</p>
                    <h2 class="pad_bot1">Contact Us Now</h2>
                        <form id="contact-form2" class="reservation-form">
                          <div class="success">Reservation form submitted! <strong>We will be in touch soon.</strong> </div>
                          <fieldset>

                            <div class="coll-1">

                              <div class="txt-form">Name<span></span></div>
                              <label class="name">
                                <input type="text" value="Name:"><br>
                                <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> </label>
                            </div>
                            <div class="coll-2">
                              <div class="txt-form">Email<span>:</span></div>
                              <label class="email">
                                <input type="email" value="E-mail:"><br>
                                <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span> </label>
                            </div>
                            <div class="coll-3">
                              <div class="txt-form">phone:</div>
                              <label class="arrival notRequired">
                                <input type="tel" value="Phone:"><br>
                                <span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span> </label>
                            </div>
                            <div class="coll-4">
                              <div class="txt-form">phone:</div>
                              <label class="Length of stay notRequired">
                                <input type="tel" value="Fax:"><br>
                                <span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span> </label>
                            </div>
                            <div class="clear"></div>
                            <div>
                              <div class="txt-form">Comment<span>*</span></div>
                              <label class="message">
                                <textarea>Comments:</textarea><br>
                                <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span> </label>
                            </div>
                            <div class="clear"></div>
                          </fieldset>
                          <div class="buttons-wrapper clearfix"><a href="#" class="btn-link btn-link2" data-type="submit">send<span></span></a><a href="#" class="btn-link btn-link2" data-type="reset">clear<span></span></a></div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}