{% extends "website/index.html" %}
{% block title %} <title>About Us</title> {% endblock %}
{% block content %}
<div id="content">
    <!--==============================row5=================================-->
    <div class="row_5">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 reserve_table">
                    <h2>Login for your personal account</h2>
                    <figure><img src="/static/img/page2_img1.jpg" alt=""></figure>
                    <h3>Our aim, objectives, peciality and services to you</h3>
                    <p class="m_bot2">In modeling industry, it is mandatory for every model to invest in a good fashion portfolios. "Portfolio" is one of the most pivotal marketing tool. Fashion models portfolios are more of a scrap book or photo album wherein has an assortment of photographs/pictures shot in various angles and poses. </p>
                    <table class="table"><thead></thead><tbody><tr><td>Models' Portfolio</td><td>Fashion Photography</td><td>Events Managements</td></tr><tr><td>Fashion Portfolio</td><td>Product Photography</td><td>Wedding Photography</td></tr>
                      <tr><td>Landscapes Photography</td> <td>Candid Photography</td><td>Nature Photography</td></tr>
                    </tbody></table>
                    <p>Manage your personal albums</p>


                    <h2 class="pad_top1">Our Experience</h2>
                    <h3>Founded on 30 October 2013, Since then we are continuosly exploring each and every moment of life through our lenses</h3>

                </div>

                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-4 col-md-4 col-sm-4">
                    <h2>Login</h2>
                    <hr class="line2">
                    <p class="title5">Please enter your login credentials.</p>
                        <form id="contact-form2" class="reservation-form" method="post" action="submit/">
                            {% csrf_token %}
                          <div class="success">Reservation form submitted! <strong>We will be in touch soon.</strong> </div>
                          <fieldset>

                            <div class="coll-1">

                              <div class="txt-form">Username<span></span></div>
                              <label class="name">
                                <input type="text" required placeholder="Username" name="username"><br>
                                <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> </label>
                            </div>
                            <div class="coll-2">
                              <div class="txt-form">Password<span>:</span></div>
                              <label class="email">
                                <input type="password" placeholder="Password" name="pass" required=""><br>
                                <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span> </label>
                            </div>

                            <div class="clear"></div>
                          </fieldset>
                          <div class="buttons-wrapper clearfix"><button class="btn-link btn-link2" data-type="submit">send<span></span></button><a href="#" class="btn-link btn-link2" data-type="reset">clear<span></span></a></div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}